body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top right, #D500F9, #FF0000);
}

#main {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.center {
    width: 50%;
    height: 80%;
}